# .env.example
SECRET_KEY=
DEBUG=
#DATABASE CONFIG PUT CREDENTIALS HERE
DB_NAME= #EXAMPLE : DATABASE NAME (SCHEMA)
DB_USER= #USERNAME USED TO ACCESS DATABASE
DB_PASSWORD= #PASS USED TO ACCESS DATABASE
DB_HOST= #HOSTNAME DEFAULT LOCAL IS LOCALHOST
DB_PORT= #PORT ID DEFAULT LOCAL IS 3306