# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Environment
.env
.venv/
env/
venv/

# Pipenv
Pipfile.lock

# VSCode or other editor configs
.vscode/
.idea/

# Django
db.sqlite3
staticfiles/
media/

SaintJudeDjango/settings.py

# Don't ignore migrations
# Only ignore Python bytecode
**/migrations/__pycache__/

# OS-specific
.DS_Store
Thumbs.db
# Local AI distilbert
hrapp/local_model/distilbert-base-uncased-finetuned-sst-2-english/pytorch_model.bin

#migrations
