[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
markdown = "*"
django-cors-headers = "*"
mysqlclient = "*"
django-simple-history = "*"
django-jazzmin = "*"
django-decouple = "*"
python-decouple = "*"
pandas = "*"
django-filter = "*"
pillow = "*"
requests = "*"
weasyprint = "*"
cairocffi = "*"
python-dotenv = "*"
gunicorn = "*"
torch = "*"
transformers = { extras = ["torch"], version = "*" }
pyyaml = "*"
boto3 = "*"
django-redis = "*"

[dev-packages]

[requires]
python_version = "3.13"
