@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");

@import "tailwindcss";

@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "SJC";
  default: true; /* set as default */
  prefersdark: false; /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: light; /* color of browser-provided UI */

  --color-base-100: white;
  --color-base-200: oklch(95% 0.03 240);
  --color-base-300: oklch(92% 0.04 240);
  --color-base-content: oklch(
    20% 0.05 240
  );
  --color-primary: #1c402a;
  --color-primary-content: black;
  --color-secondary: oklch(
    70% 0.25 200
  );
  --color-secondary-content: oklch(
    98% 0.01 200
  );
  --color-accent: oklch(65% 0.25 160);
  --color-accent-content: oklch(
    98% 0.01 160
  );
  --color-neutral: oklch(50% 0.05 240);
  --color-neutral-content: oklch(
    98% 0.01 240
  );
  --color-info: oklch(70% 0.2 220);
  --color-info-content: oklch(
    98% 0.01 220
  );
  --color-success: #1c402a;
  --color-success-content: oklch(
    98% 0.01 140
  );
  --color-warning: oklch(80% 0.25 80);
  --color-warning-content: oklch(
    20% 0.05 80
  );
  --color-error: oklch(65% 0.3 30);
  --color-error-content: oklch(
    98% 0.01 30
  );

  /* border radius */
  --radius-selector: 2rem;
  --radius-field: 0.25rem;
  --radius-box: 1rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  /*--border: 1px;*/

  /* effects */
  --depth: 1;
  --noise: 0;
}

html {
  font-family: "Cabin", sans-serif;
}

.card {
  @apply shadow-lg rounded-box;
  @apply transition-all duration-300 ease-in-out;
  @apply hover:shadow-2xl;
}

.card-body {
  @apply p-15 pt-13 pb-10;
}

.input {
  @apply transition-all duration-300 ease-in-out;
  @apply hover:shadow-lg hover:scale-105;
}
.textarea {
  @apply transition-all duration-300 ease-in-out;
  @apply hover:shadow-lg hover:scale-105;
}
.checkbox {
  @apply transition-all duration-300 ease-in-out;
  @apply hover:shadow-lg hover:scale-110;
  color: white;
}

.btn {
  @apply transition-all duration-300 ease-in-out;
  @apply hover:shadow-lg hover:scale-105 rounded-box;
}

@keyframes Shape1_anim {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-35px);
  }
}

@keyframes Shape2_anim {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(85px);
  }
}

#Shape_1 {
  position: absolute;
  animation: Shape1_anim 5.5s
    cubic-bezier(0.42, 0, 0.58, 1)
    infinite alternate;
  will-change: transform;
  animation-delay: 0s; /* Starts immediately */
}

#Shape_2 {
  position: absolute;
  animation: Shape1_anim 5.5s
    cubic-bezier(0.42, 0, 0.58, 1)
    infinite alternate;
  will-change: transform;
  animation-delay: 3s; /* Starts after 2 seconds */
}

#Shape_3 {
  position: absolute;
  animation: Shape1_anim 5.5s
    cubic-bezier(0.42, 0, 0.58, 1)
    infinite alternate;
  will-change: transform;
  animation-delay: 6s; /* Starts after 4 seconds */
}

#Shape_4 {
  position: absolute;
  animation: Shape1_anim 5.5s
    cubic-bezier(0.42, 0, 0.58, 1)
    infinite alternate;
  will-change: transform;
  animation-delay: 9; /* Starts after 6 seconds */
}

#Shape-1 {
  position: absolute;
  animation: Shape2_anim 5.5s
    cubic-bezier(0.42, 0, 0.58, 1)
    infinite alternate;
  will-change: transform;
  animation-delay: 0s; /* Starts immediately */
}

#Shape-2 {
  position: absolute;
  animation: Shape2_anim 5.5s
    cubic-bezier(0.42, 0, 0.58, 1)
    infinite alternate;
  will-change: transform;
  animation-delay: 4s; /* Starts after 2 seconds */
}

#Shape-3 {
  position: absolute;
  animation: Shape2_anim 5.5s
    cubic-bezier(0.42, 0, 0.58, 1)
    infinite alternate;
  will-change: transform;
  animation-delay: 8s; /* Starts after 4 seconds */
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(
      -20px
    ); /* Adjust for direction of movement */
  }
}

.word {
  animation: fadeIn 0.5s ease-out
    forwards; /* Apply fadeIn animation */
}

.word-exit {
  animation: fadeOut 0.5s ease-out
    forwards; /* Apply fadeOut animation */
}

.custom-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  backdrop-filter: blur(
    16px
  ); /* Tailwind's 'backdrop-blur-lg' */
  padding: 0; /* Default padding for mobile */
  border-radius: 0.5rem; /* Tailwind's 'rounded-lg' = 8px */
  z-index: 10;
  @apply shadow-2xl;
}

.breadcrumbs {
  font-size: 1rem; /* Assuming 'text-md' was meant to be 'text-base' */
  color: #d1d5db; /* Equivalent to Tailwind's text-gray-300 */
}

.dock-label {
  font-size: 1.1rem; /* Default font size for larger screens */
}

@media (max-width: 639px) {
  .dock-label {
    font-size: 0.875rem; /* Smaller font size for mobile screens */
  }
}

.radial-progress:after {
  display: none;
}

.btn-cancel {
  @apply bg-red-500 text-white;
}

.rg-container {
  @apply w-full h-full flex flex-col items-center justify-start backdrop-blur-lg rounded-lg shadow-lg text-white;
}

.tooltip {
  --tt-bg: var(--color-primary);
}

